.nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: white;
    border: 1px solid black;
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
